.footer {
    position: absolute;

    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

.mat-toolbar.mat-primary {
    background: darkslategray;
    color: #fff;
}
// .mat-toolbar-row {
//     position: absolute;
//     left : 200%;
//     margin: auto 8px;
//     font-size: smaller;
// }