.carousel{
    
    position: relative;
    // max-width: 100%;
    // height: auto;
    // left : 200px;
}

.carouselimg{
    position: relative;
    
}

.fullcaro{
 position: relative;
 width: 100%;
//  top: -120px;
//  left: 450px;
}

.addimg{
    position: relative;
    // top:120px;
    // left: 20px;
}

.images {
    display:flex;
    width: 100%;
    // justify-content: space-between;
    // height: calc(100% - 90px - 64px);
}