.max-height{
    height: 65%;
    position: absolute;
    width: 100%;
}


.mat-drawer-container {
    height: 100%;
    top: 10px;
    
    width: 100%;

}

.center{

    width : 100%;

}
.mat-drawer {
    background-color: darkslategray;
    color: white;
}

mat-grid-tile {
    background: lightblue;
  }

  .side-nav {
      width: 150px;
  }

  